<h1>Tasks</h1>
<ul>
    <li>
        <% @tasks.each do |task| %>
            <%= task.title %>
            <%= task.task_description %>
            <%= task.type_of_task %>
        <% end %>
        <%= link_to "New Task", new_task_path %>
    </li>
</ul>
